/* 
    icybb 0.1
    Copyright 2017 - IcyBB Project
    License: GPL3.0
*/
html {
  background: #323232; 
  color: #e4e4e4;  
}
body {
  background: #323232; 
  color: #e4e4e4;
}
h1 {
    text-align: center;
}
.container-fluid {
  background: #323232; 
  color: #e4e4e4;  
}
